@import "tailwindcss";

@layer base {
  :root {
    --color-naka-blue: #1d3b78;
    --color-naka-white: #ffffff;
  }
}

@theme {
  --color-naka-blue: #1d3b78;
  --color-naka-white: #ffffff;
  --font-display: "Space Grotesk", sans-serif;
  --font-serif: "Playfair Display", serif;
}
